<%= render 'shared/form_errors', obj: @team %>

<%= form_for @team do |f| %>
  <div class='input-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <br>
  <div class='input-group'>
    <%= f.submit "Submit name", class: 'btn btn-primary' %>
  </div>
<% end %>