<%= render 'shared/content_title', title: 'Teams' %>
<%= link_to 'New Team', new_team_path %>

<h5>Teams</h5>
<ul>
  <% @teams.each do |team| %>
    <li><%= team.name %> [<%= link_to 'Edit', edit_team_path(team)%>] &middot; [<%= link_to 'Delete', team, confirm: "Are you sure you want to delete #{team.name}?", method: :delete %>]</li>
  <% end %>
</ul>