<%= render 'shared/content_title', title: "Tournaments" %>

<%= link_to 'New Tournament', new_tournament_path %>
<br><br>

<% if !@tournaments.empty? %>
  <table class='table'>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.name, tournament_path(tournament) %></td>
        <td><%= tournament.location %></td>
        <td><%= tournament.start_date %></td>
        <td><%= tournament.end_date %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Delete', tournament, confirm: "Are you sure you want to delete #{tournament.name}?", method: :delete %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h5>There are no tournaments added yet</h5>
<% end %>